In [1]:
import turicreate

## Read data

In [3]:
sales = turicreate.SFrame("home_data.sframe/home_data.sframe")

In [4]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
|    1680.0   |  8080.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    5420.0   | 101930.0 |  1.0   |     0      |  0   |     3     |  11.0 |
|    1715.0   |  6819.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    1060.0   |  9711.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1780.0   |  7470.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1890.0   |  6560.0  |  2.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
|   1680.0   |      0.0      |  1987.0  |     0.0      |  98074  | 47.61681228 |
|   3890.0   |     1530.0    |  2001.0  |     0.0      |  98053  | 47.65611835 |
|   1715.0   |      0.0      |  1995.0  |     0.0      |  98003  | 47.30972002 |
|   1060.0   |      0.0      |  1963.0  |     0.0      |  98198  | 47.40949984 |
|   1050.0   |     730.0     |  1960.0  |     0.0      |  98146  | 47.51229381 |
|   1890.0   |      0.0      |  2003.0  |     0.0      |  98038  | 47.36840673 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [6]:
train_data, test_data = sales.random_split(0.8, seed=0)

## Create new features

In [15]:
train_data["bedrooms_squared"] =train_data["bedrooms"].apply(lambda x: x**2) 
test_data["bedrooms_squared"] =test_data["bedrooms"].apply(lambda x: x**2)

In [9]:
train_data["bed_bath_rooms"] =train_data["bedrooms"]*train_data["bathrooms"]
test_data["bed_bath_rooms"] =test_data["bedrooms"]*test_data["bathrooms"]

In [13]:
from math import log
train_data["log_sqft_living" ] = train_data["sqft_living"].apply(lambda x: log(x))
test_data["log_sqft_living" ] = test_data["sqft_living"].apply(lambda x: log(x))

In [14]:
train_data["lat_plus_long"] = train_data["lat"]+train_data["long"]
test_data["lat_plus_long"] = test_data["lat"]+test_data["long"]

In [16]:
test_data["bedrooms_squared"].mean()

12.44667770158429

In [17]:
test_data["bed_bath_rooms"].mean()

7.503901631591395

In [18]:
test_data["log_sqft_living" ].mean()

7.55027467964594

In [19]:
test_data["lat_plus_long"].mean()

-74.65333497217306

## Fit linear regression models using different features

In [21]:
feature1 = ["sqft_living", "bedrooms", "bathrooms", "lat", "long"]
m1 = turicreate.linear_regression.create(train_data, target='price',
                                         features=feature1,
                                        validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 1.058421     | 4074878.213085     | 236378.596454                   |

| 2         | 3        | 1.093816     | 4074878.213108     | 236378.596455                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [22]:
feature2 = ["sqft_living","bedrooms","bathrooms","lat","long","bed_bath_rooms"]
m2 = turicreate.linear_regression.create(train_data, target='price',
                                        features=feature2,
                                        validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.031066     | 4014170.932932     | 235190.935428                   |

| 2         | 3        | 0.073771     | 4014170.932936     | 235190.935429                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [23]:
feature3 = ["sqft_living","bedrooms","bathrooms","lat","long","bed_bath_rooms","bedrooms_squared",
           "log_sqft_living","lat_plus_long"]
m3 = turicreate.linear_regression.create(train_data, target='price',
                                        features=feature3,
                                        validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.025112     | 3193229.177903     | 228200.043155                   |

| 2         | 3        | 0.055138     | 3193229.177873     | 228200.043155                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [27]:
m1.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+---------------------+--------------------+
|     name    | index |        value        |       stderr       |
+-------------+-------+---------------------+--------------------+
| (intercept) |  None |  -56140675.74114401 | 1649985.4204360154 |
| sqft_living |  None |  310.2633257769215  | 3.1888296040774544 |
|   bedrooms  |  None | -59577.116067596675 | 2487.279773224323  |
|  bathrooms  |  None |  13811.840541653153 | 3593.5421329700102 |
|     lat     |  None |  629865.7894714825  | 13120.710032334237 |
|     long    |  None | -214790.28516470865 | 13284.285161661053 |
+-------------+-------+---------------------+--------------------+
[6 rows x 4 columns]

In [28]:
m2.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+---------------------+--------------------+
|      name      | index |        value        |       stderr       |
+----------------+-------+---------------------+--------------------+
|  (intercept)   |  None |  -54410676.11184223 | 1650405.1655748067 |
|  sqft_living   |  None |  304.4492980555793  | 3.202175356372319  |
|    bedrooms    |  None | -116366.04322944849 | 4805.549665487809  |
|   bathrooms    |  None |  -77972.33051298735 | 7565.059910961687  |
|      lat       |  None |   625433.834939811  | 13058.353097257446 |
|      long      |  None | -203958.60293747584 | 13268.12837210344  |
| bed_bath_rooms |  None |  26961.624908951988 | 1956.3656155607707 |
+----------------+-------+---------------------+--------------------+
[7 rows x 4 columns]

## Calculate RSS

In [30]:
def get_residuals_sum_squares (model, data, outcome):
    output = model.predict(data)
    se = outcome - output
    rss = sum(se.apply(lambda x: x**2))
    return(rss)

## Calculate RSS for train_data

In [32]:
residual_m1 = get_residuals_sum_squares(m1, train_data, train_data['price'])
residual_m1

971328233545429.9

In [33]:
residual_m2 = get_residuals_sum_squares(m2, train_data, train_data['price'])
residual_m2

961592067857504.1

In [34]:
residual_m3 = get_residuals_sum_squares(m3, train_data, train_data['price'])
residual_m3

905276314551642.8

## Calculate RSS for test_data

In [35]:
residual_test_m1 = get_residuals_sum_squares(m1, test_data, test_data['price'])
residual_test_m1

226568089093161.16

In [36]:
residual_test_m2 = get_residuals_sum_squares(m2, test_data, test_data['price'])
residual_test_m2

224368799993971.03

In [37]:
residual_test_m3 = get_residuals_sum_squares(m3, test_data, test_data['price'])
residual_test_m3

251829318963160.28